// Transitions
.two-fa-fade-enter-active,
.two-fa-fade-leave-active {
  transition: opacity 480ms ease-in-out 12ms, transform 480ms ease-in-out 12ms;
}

.two-fa-fade-enter,
.two-fa-fade-leave-to {
  opacity: 0;
  transform: translateY(-1em);
}

// Errors
.two-fa-error {
  border: #9e5552 1px solid;
  background-color: #e75650;
}

input.two-fa-input::-webkit-outer-spin-button,
input.two-fa-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.two-fa-input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
